*{
    margin: 0px;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    top: 0px;
    width: 100%;
    height: 90px;
}

.title span{
    font-family: Lily Script One;
    margin-left: 50px;
    font-size: xx-large;
}
.checkbox{
    margin-left: 150px;
}
.checkbox input{
    position: absolute;
    opacity: 0;
}
.checkbox label{
    font-family: Mukta Mahee;
    font-size: x-large;
    padding: 5px 50px 5px 50px;
    border-radius: 30px;
    transition-duration: 0.5s;
}
.checkbox input:checked + label{
    background-color: #FF8A00;
    color: white;
}
.mapHolder{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 750px;

    border-radius: 20px;
    margin: 0px 40px 0px 40px;
    overflow: hidden;
}
#map{ 
    height: 100%;
    z-index: -1;
}
.details-list {
    display: grid;
    height: fit-content;
    opacity: 0;
}

.details{
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: Mukta Mahee;
    background-color: white;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 96.3%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 10px;

    .image img {
        width:100px;
        padding-right: 10px;
    }

    .name {
        font-size: large;
    }

    .phone {
        font-size: larger;
    }
}
.back{
    background-color: #FF8A00;
    color: white;
    border: none;
    font-family: Mukta Mahee;
    font-size: x-large;
    padding: 5px 50px 5px 50px;
    border-radius: 30px;
    position: absolute;
    right: 30px;
    bottom: 70px;
    cursor: pointer;
}
.call,.request{
    background-color: #FF8A00;
    color: white;
    border: none;
    font-family: Mukta Mahee;
    font-size: large;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    cursor: pointer;
}